.card{
    padding: 10px 0px;
    margin: 30px;
    box-shadow: 0px 0px 5px black;
    width: 500px;
    height: 100px;
}

.edit-qty{
    display: flex;
}

img{
    height: 180px;
    width: 200px;
}

.btn{
    height: 30px;
    width: 50px;
}